*
{
    font-family:verdana;
    
}
.icon
{
    margin-left:30px;
    margin-top:150px;
}

svg 
{
   fill:rgba(29,161,242,1.00);
}

.header 
{
    font-size:60px;
    font-weight:900;
    margin:20px;
}

.label-text
{
    font-size:30px;
    margin:30px;
    font-weight:700;
}

.buttons a
{
    display: block;
    border-color: #e4e2e2;
    width:250px;
    padding:10px;
    border-radius:20px;
    margin:10px;
    font-weight:bold !important;

}
 form a:hover
{
   
 
    color:rgb(255, 255, 255) !important;
}

form 
{
    
    width:400px;
    margin-left:auto;
    margin-right:auto;
}
form legend
{
    text-align: left;
    font-size:35px;
    font-weight: bold;
    margin:20px;
}

.login-icon svg
{
    margin-left:650px;
    padding:10px;
   

}

.inputs input
{
    padding: 10px;
    width:320px;
    border-radius:10px;
    border-color: #e4e2e2;
   
}


.inputs input:focus
{
   outline:none;
   border-color:rgba(29,161,242,1.00);
}

form .login-btn
{
    width:320px;
    color: rgb(255, 255, 255) !important;
    border-radius:20px;
    background-color: rgba(29,161,242,1.00);
    padding:10px;
    margin-bottom:10px;

}